@import './../../assets/styles/variables.scss';

.input {
  height: 2rem;
  padding: 0 0.5rem;
  background-color: $white;
  border: 0.1rem solid $border;
  border-radius: 0.5rem;
  color: $black;

  &-fieldset {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &-error {
    color: $red;
    font-size: 0.7rem;
  }
}