@import './../../assets/styles/variables.scss';

.search {
  &-form {
    display: flex;
    gap: .5rem;
    justify-content: center;
    width: 50%;
    max-height: 2rem;
    align-self: center;
  }

  &-input {
    width: 15rem;
    border: 1px solid $black;
    border-radius: .5rem;
    background-color: transparent;
    color: $black;
  }
}