@import './../../assets/styles/variables.scss';

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
  width: 40%;
  min-width: 1.5rem;
  border: 0.0625rem solid $orange;
  border-radius: 1rem;

  .submit-message {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $border;
    font-size: 2rem;
    border-radius: 1rem;
  }

  .input{
    &-checkbox {
      order: -1;
    }

    &-file {
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }

  .label-checkbox {
    font-size: 0.85rem;
  }

  .checkbox-fieldset {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
}

.profile-list {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  flex-wrap: wrap;
}